:root{
    --primary-color: #CCA35C;
    --second-color: #151C27;
    --third-color: #FFFFFF;
    --text-color: #57596A;
    --background-color: #F5F5F5;
    --background-color-card: #F0EFEA;
    --background--color-input: #d9d9d9;
    --background--color-menu: #3D3E3D;
    --background--color-footer: #2A2937;
}
* {
    margin: 0;
    padding: 0;
}
/* Conteudo inicial */
.conteiner{
    width: 100vw;
    height: auto;
    background-color: var(--background--color-menu);
}
.conteiner header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1180px;
    height: auto;
    padding: 10px 10px;
    margin-top: 10px;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
li {
    list-style: none;
}
ul li a {
    text-decoration: none;
    padding:0 10px;
    font-size: 1.3rem;
    color: var(--third-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
li a:hover{
    color: var(--third-color);
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
}

/* Conteudo inicial */

/* Campo do Reno Crianca*/

.reno-crianca{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--background-color);
}
.row-reno{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--background-color);
}
.cool-reno-left{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: start;
    width: 47%;
    margin-top: 50px;
}
.img img{
    border-radius: 10px;
}
.cool-reno-right{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: start;
    flex-direction: column;
    width: 47%;
    margin-top: 50px;
}
.reno-info{
    display: flex;
    justify-content: flex-end;
    align-items: start;
    flex-direction: column;
    width: 100%;
}
.reno-info h1{
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--primary-color);
}
.reno-info p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: justify;
    margin: 30px 0 30px 0;
    width: 90%;
    color: var(--text-color);
}
.row-time-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.row-time-info h2{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
}
.time-title h2{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-color);
}
.time-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}
.time-info i{
    color: var(--primary-color);
    margin-right: 7px;
}
.time-info span{
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color);
}
.row-category{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 90%;
    height: auto;
    margin: 40px 0;
    background-color: var(--third-color);
}
.title-category h2{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 20px 0 0 20px;
    color: var(--primary-color);
}
.info-category{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 30px;
}
.info-category i{
    margin-right: 10px;
    color: var(--primary-color);
}
.info-category span{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
    color: var(--text-color);
}
.vertical-line{
    height: 50px;
    border-left: 1px solid;
    margin: 0 50px;
}
.galery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-galry h2{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 50px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(350px);
    grid-gap: 2px;
    margin-bottom: 50px;
}
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    height: 300px;
    width: 350px;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item:hover {
    transform: scale(1.2);
}
/* Campo do Reno Crianca */

/* Rodapé */
.row-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px 0;
    background-color: var(--background--color-footer);
}
.coopyright{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.coopyright h2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: var(--third-color);
    font-weight: 400;
}
.coopyright span{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: var(--third-color);
    font-weight: 400;
    margin-bottom: 20px;
}
.icon-footer a{
    text-decoration: none;
    color: var(--third-color);
    margin-right: 10px;
}
/* Rodapé */

/* >>>>>>> Responsividade <<<<<<<< */
@media screen and (max-width:1400px){
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

}
@media screen and (max-width:1024px){
    .row-reno{
        flex-direction: column;
    }
    .cool-reno-left,
    .cool-reno-right{
        align-self: center;
    }
    .cool-reno-right{
        width: 100%
    }
    .reno-info{
        width: 90%;
    }
    .time-title h2,
    .reno-info h1{
        width: 100%;
        text-align: center;
    }
    .reno-info{
        align-items: center;
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:730px) {
    .header{
        padding: 20px 55px;
    }
    .row-title{
        top: 40%;
        left: 53%;
    }
    nav{
        display: none;
    }
    .one,
    .two,
    .three {
        width: 100%;
        height: 3px;
        margin: 7px auto;
        background-color: var(--third-color);
        transition-duration: 0.3s;
    }
    .menu-toggle {
        width: 40px;
        height: 30px;
    }
    .menu.on{
        position: absolute;
        background-color: var(--primary-color);
        width: 100vw;
        height: 100vh;
        z-index: 999;
        top: 0;
        left: 0;
        margin: 0;
    }
    .menu.on nav {
        display: block;
    }
    .menu.on .menu-toggle {
        position: absolute;
        right: 55px;
        top: 58px;
    }
    .menu.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }
    .menu.on .menu-toggle .two {
       opacity: 0;
    }
    .menu.on .menu-toggle .three {
        transform: rotate(-45deg) translate(6px, -7px);
    }
    .menu.on nav ul {
        text-align: center;
        display: block;
    }
    .menu.on nav ul a {
        text-align: center;
        display: block;
        transition-duration: 0.3s;
        color: var(--third-color);
        font-size: 1.4rem;
        line-height: 2;
    }
}
@media screen and (max-width:713px){
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width:640px) {
    .img img{
        width: 500px;
    }
    .info-category{
        flex-direction: column;
    }
    .vertical-line{
        display: none;
    }
    .info-category i{
        margin: 30px 0;
    }
    .row-footer{
        flex-direction: column;
    }
    .coopyright h2{
        margin: 20px 0;
        text-align: center;
    }
    .icon-footer{
        margin: 10px 0;
    }
}
@media screen and (max-width:525px){
    .img img{
        width: 450px;
    }
}
@media screen and (max-width:470px){
    .img img{
        width: 400px;
    }
    .time-info{
        flex-direction: column;
        gap: 20px;
    }
}
@media screen and (max-width:415px){
    .img img{
        width: 350px;
    }
}
@media screen and (max-width:360px){
    .img img{
        width: 300px;
    }
    .grid-item{
        width: 300px;
    }
}