:root{
    --primary-color: #CCA35C;
    --second-color: #151C27;
    --third-color: #FFFFFF;
    --text-color: #57596A;
    --background-color: #F5F5F5;
    --background-color-card: #F0EFEA;
    --background--color-input: #d9d9d9;
    --background--color-menu: #3D3E3D;
    --background--color-footer: #2A2937;
}
* {
    margin: 0;
    padding: 0;
}
/* Conteudo inicial */
.conteiner{
    width: 100vw;
    height: auto;
    background-color: var(--background--color-menu);
}
.conteiner header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1180px;
    height: auto;
    padding: 10px 10px;
    margin-top: 10px;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
li {
    list-style: none;
}
ul li a {
    text-decoration: none;
    padding:0 10px;
    font-size: 1.3rem;
    color: var(--third-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
li a:hover{
    color: var(--third-color);
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
}
/* Conteudo inicial */

/* Campo de se inscrever */

.row-signin-events{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--background-color);
}
.cool-events-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: auto;
}
.signin-events-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: auto;
    margin: 50px 0 30px 0 ;
}
.signin-course-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.signin-course-info h1{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
}
.signin-course-info h2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--text-color);
}
.signin-course-info p{
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: justify;
    margin: 30px 0 50px 0;
    color: var(--text-color);
}
.row-detail-course{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    margin: 20px 0;
}
.card-course{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.details-course{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-course i{
    margin-right: 10px;
    color: var(--primary-color);
}
.subtitle-course{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: var(--text-color);
}
.cool-events-right{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: start;
    flex-direction: column;
    width: 40%;
    height: auto;
    margin: 50px 0;
}
.row-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row-title h2{
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 50px;
}
.row-title span{
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-color);
}
.forms{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.forms form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.forms form input {
    margin: 10px 0;
    padding-left: 20px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: var(--background--color-input);
    font-size: 1rem;
    font-family: 'Roboto',sans-serif;
    color: var(--text-color);
}
.forms select{
    font-size: 0.9rem;
    margin: 10px 0;
    padding: 0 20px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: var(--background--color-input);
    color: var(--text-color);
}
#button-signin{
    width: 200px;
    background-color: var(--primary-color);
    color: var(--third-color);
    font-size: 1.1rem;
    cursor: pointer;
    padding: 0;
}
#button-signin:hover{
    background-color: var(--third-color);
    color: var(--primary-color);
    border: solid 2px;
}
::placeholder{
    font-size: 0.9rem;
    color: var(--text-color);
}
input:focus{
    outline-color: var(--primary-color);
    padding-left: 20px;
}
/* Campo de se inscrever */

/* Rodapé */

.row-footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px 0;
    background-color: var(--background--color-footer);
}
.coopyright{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.coopyright h2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: var(--third-color);
    font-weight: 400;
}
.coopyright span{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: var(--third-color);
    font-weight: 400;
    margin-bottom: 20px;
}
.icon-footer a{
    text-decoration: none;
    color: var(--third-color);
    margin-right: 10px;
}
/* Rodapé */

/* >>>>>>> Responsividade <<<<<<<< */
@media screen and (max-width:1024px){
    .row-signin-events{
        flex-direction: column;
    }
    .cool-events-right{
        align-self: center;
    }
    .signin-course-info{
        width: 230%
    }
    .signin-events-img,
    .cool-events-right{
        width: auto;
    }
    .forms form{
        align-items: center;
    }
    .forms form input{
        width: 400px;
    }
    .forms select{
        width: 420px;
    }

}
@media screen and (max-width:730px) {
    .header{
        padding: 20px 55px;
    }
    .row-title{
        top: 40%;
        left: 53%;
    }
    nav{
        display: none;
    }
    .one,
    .two,
    .three {
        width: 100%;
        height: 3px;
        margin: 7px auto;
        background-color: var(--third-color);
        transition-duration: 0.3s;
    }
    .menu-toggle {
        width: 40px;
        height: 30px;
    }
    .menu.on{
        position: absolute;
        background-color: var(--primary-color);
        width: 100vw;
        height: 100vh;
        z-index: 999;
        top: 0;
        left: 0;
        margin: 0;
    }
    .menu.on nav {
        display: block;
    }
    .menu.on .menu-toggle {
        position: absolute;
        right: 55px;
        top: 58px;
    }
    .menu.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }
    .menu.on .menu-toggle .two {
       opacity: 0;
    }
    .menu.on .menu-toggle .three {
        transform: rotate(-45deg) translate(6px, -7px);
    }
    .menu.on nav ul {
        text-align: center;
        display: block;
    }
    .menu.on nav ul a {
        text-align: center;
        display: block;
        transition-duration: 0.3s;
        color: var(--third-color);
        font-size: 1.4rem;
        line-height: 2;
    }
    .signin-events-img img{
        width: 500px;
    }
}
@media screen and (max-width:640px) {
    .signin-events-img img{
        width: 400px;
    }
    .row-footer{
        flex-direction: column;
    }
    .coopyright h2{
        margin: 20px 0;
    }
    .icon-footer{
        margin: 10px 0;
    }
}
@media screen and (max-width:430px) {
    .signin-events-img img{
        width: 350px;
    }
    .forms form input{
        width: 340px;
    }
    .forms select{
        width: 360px;
    }
}
@media screen and (max-width:370px) {
    .signin-events-img img{
        width: 300px;
    }
    .forms form input{
        width: 300px;
    }
    .forms select{
        width: 320px;
    }
}